# Python Arithmetic Operators Practice Notebook

# Q1  Addition

Write an expression that adds `8` and `12` and prints the result.

In [1]:
a=8
b=12
c=a+b
print(c)

20

# Q2  Subtraction

Write an expression that subtracts `7` from `20` and prints the result.

In [11]:
a=20
b=7
c=a-b
print(c)

13

# Q3  Multiplication

Write an expression that multiplies `6` by `9` and prints the result.

In [4]:
a=6
b=9
c=a*b
print(c)

54

# Q4  Division

Write an expression that divides `45` by `9` and prints the result (normal division).

In [6]:
a=45
b=9
c=a/b
print(c)

5.0

# Q5  Floor Division

Write an expression that floor-divides `45` by `9` and prints the result.

Then floor-divide `50` by `6` and print the result to see how floor division works.

In [7]:
a=8
b=12
c=a//b
print(c)

0

In [8]:
a=50
b=6
c=a//b
print(c)

8

# Q6  Modulus

Write an expression that computes the remainder when `29` is divided by `5` and prints it.

In [9]:
a=29
b=5
c=a%b
print(c)

4

# Q7  Power

Compute `3` raised to the power `4` and print the result using the `**` operator.

In [10]:
a=3
b=4
c=a**b
print(c)

81

# Q8  Unary plus and minus

Assign a positive number to a variable `x` and print `+x` and `-x`. Observe the outputs.

In [13]:
x=43
y=+x
print(y)

43

In [14]:
x=45
y=-x
print(y)

-45

# Q9  Combined expression and operator precedence

Without using parentheses, write an expression that computes `5 + 3 * 2` and prints the result. Then add parentheses to change the order so that addition happens first: `(5 + 3) * 2`.

In [15]:
a=5
b=3
c=3
d=a+b*c
print(d)

14

In [16]:
a=5
b=3
c=3
d=(a+b)*c
print(d)

24

# Q10  Using variables

Assign two variables `a = 15` and `b = 4`. Compute and print **all** arithmetic operations between them: `+`, `-`, `*`, `/`, `//`, `%`, `**`.

In [17]:
a=15
b=4
print(a+b,a-b,a*b,a/b,a//b,a%b,a**b)

19 11 60 3.75 3 3 50625

# Q11 - Compound assignment

Start with `n = 10`. Use compound assignment operators to:
- add 5 (`n += 5`), print
- multiply by 2 (`n *= 2`), print
- subtract 4 (`n -= 4`), print
(Place each statement so students can see the updated `n` after each operation.)

In [37]:
n=10
n+=5
print(n)

15

In [39]:
n=10
n*=2
print(n)

20

In [1]:
n=10
n-=4
print(n)

6

# Q12  Swapping values (without a third variable)

Given `x = 3` and `y = 7`, swap their values using Python tuple assignment and print `x` and `y` after swapping.

In [43]:
x=3
y=7
print(x,y)
x,y=y,x
print(x,y)

3 7
7 3

# Q13 - Input: Sum of two numbers

Ask the user to input two numbers (integers). Add them and print `Sum: <result>`.

In [45]:
num1=int(input("Enter 1st number"))
num2=int(input("Enter 2nd number"))
print("Sum:",num1+num2)

Sum: 42

# Q14 - Input: Average of three numbers

Ask the user to input three numbers (floats allowed). Compute their average and print `Average: <result>`.

In [34]:
num1=input("Enter 1st number")
num2=input("Enter 2nd number")
num3=input("Enter 3rd number")
result=int(num1+num2+num3)/3
print(result)

70744.0

# Q15 - Input: Circle calculations

Ask the user to input the radius of a circle (float). Compute and print:
- Circumference = `2 * 3.14159 * radius`
- Area = `3.14159 * radius ** 2`

In [35]:
raduis=float(input("Enter the radius"))
Circumference=2*3,14159*raduis
Area=3.14159*raduis**2
print("Circumference:",Circumference,"Area",Area)

Circumference: (6, 56636.0) Area 50.26544

# Q16 - Input: Convert total seconds to hours, minutes, seconds

Ask the user to input a total number of seconds (integer). Convert it to hours, minutes, and seconds and print as `H:M:S`.

In [6]:
Seconds=int(input("enter sec"))

Minutes=Seconds//60
Hours=Minutes//60

print(f"{Hours}:{Minutes}:{Seconds}")

3:200:12000

# Q17 - Input: Simple interest calculation

Ask user for `principal`, `rate` (annual percent), and `time` (years). Compute simple interest as `(principal * rate * time) / 100` and print `Interest: <result>`.

In [2]:
Principle=int(input("Enter the princile amount"))
Rate=float(input("Enter the rate of interest"))
Time=int(input("Enter the time in years")) 

Simple_interest=(Principle*Rate*Time)/100


print(Simple_interest)

900.0